<div id="mainDiv">
        <form>
            <h3>Податоци за проектната задачата од Проект -</h3>
            <div>
                <label for="ProjectName">
                    Име на задача<span style="color:red">*</span>
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>

            <div>
                <label for="ProjectName">
                    Катеорија<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Приоритет<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Одговорен<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Клиент<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Статус<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
        
        <div id="OtherData">
            <h5>Дополнителни податоци  \/</h5>   
            <div>
                <label for="name">
                    Датум на почеток
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>
        
            <div>
                <label for="name">
                    Датум на завршување
                </label>
                <input id="passwordInput" type="text-box" class='form-control'>
            </div>
    
            <div>
                <label for="name">
                    Времетраење
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>
    
            <div>
                <label for="name">
                    Учесници
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>
    
            <div>
                <label for="name">
                    Предефинирани задачи
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>

            <div>
                <label for="ProjectName">
                    Зависи од задача
                </label>
                <select class="form-select">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="name">
                    Опис
                </label>
                <textarea id="nameInput" type="text-box" class='form-control'></textarea>
            </div>
        </div> 

            <div id="ClientData">
                <h5>Податоци за избраниот клиент  \/</h5>
                <div id="ClientDataDrop">
                <div>
                    <label for="ProjectName">
                        Реон
                    </label>
                    <select class="form-select">
                      <option>English</option>
                      <option>Македонски</option>
                    </select>
                </div>
    
                <div>
                    <label for="name">
                        Име
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                <div>
                    <label for="name">
                        Адреса
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                <div>
                    <label for="name">
                        Град
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                <div>
                    <label for="name">
                        Телефон
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                </div>
            </div>  
          
          </form>
        
          <div id="gorni6btnDiv">
                
            <table>
                <tr>
                    <td><button class="mat-focus-indicator mat-raised-button mat-button-base mat-stroked-button mat-icon-no-color gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:photograph'" [color]="'primary'" ></mat-icon>Избери слика</button></td>
                    <td><button class="mat-focus-indicator mat-raised-button mat-button-base mat-stroked-button mat-icon-no-color gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:upload'" [color]="'primary'" ></mat-icon>Прикачи слика</button></td>
                    <td><button class="mat-focus-indicator mat-raised-button mat-button-base mat-stroked-button mat-icon-no-color gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:duplicate'" [color]="'primary'" ></mat-icon>Види слики</button></td>
                </tr>
                <tr>
                    <td><button class="mat-focus-indicator mat-raised-button mat-button-base mat-stroked-button mat-icon-no-color gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:annotation'" [color]="'primary'" ></mat-icon>Коментари</button></td>
                    <td><button class="mat-focus-indicator mat-raised-button mat-button-base mat-stroked-button mat-icon-no-color gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:clock'" [color]="'primary'" ></mat-icon>Работа</button></td>
                    <td><button class="mat-focus-indicator mat-raised-button mat-button-base mat-stroked-button mat-icon-no-color gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:paper-clip'" [color]="'primary'" ></mat-icon>Прикачи фајл</button></td>
                </tr>
            </table>  
               
        </div>
        <hr/>
        <div>
            <button routerLink="/UserHome" class="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" (click)="End()">Заврши</button>
            <button class="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent " (click)="Close()">Откажи</button>
        </div>
</div>
