<script src="view-task.js"></script>
<div id="mainDiv">
        <form>
            <h3>Податоци за проектната задачата од Проект -</h3>

            <hr>

            <div id="gorni6btnDiv">
                
                <table>
                    <tr>
                        <td><button style="background-color:rgb(163, 106, 216)" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent gorni6btn" type="file"><mat-icon style="color:white" class="icon-size-4" [svgIcon]="'heroicons_outline:photograph'" [color]="'primary'" ></mat-icon>Избери слика</button></td>
                        <td><button style="background-color:rgb(152, 75, 224)" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:upload'" [color]="'primary'" ></mat-icon>Прикачи слика</button></td>
                    </tr>
                    <tr>
                        <td><button style="background-color:blueviolet" (click)="OpenGallery()"class="mat-focus-indicator mat-raised-button mat-button-base mat-accent gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:duplicate'" [color]="'primary'" ></mat-icon>Види слики</button></td>
                        <td><button style="background-color:rgb(211, 81, 81)" (click)="OpenComments()" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:annotation'" [color]="'primary'" ></mat-icon>Коментари</button></td>
                    </tr>
                    <tr>
                        <td><button style="background-color:blue" (click)="OpenWork()" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:clock'" [color]="'primary'" ></mat-icon>Работа</button></td>
                        <td><button style="background-color:blueviolet" (click)="OpenUploadFile()" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent gorni6btn" type="submit"><mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:paper-clip'" [color]="'primary'" ></mat-icon>Прикачи фајл</button></td>
                    </tr>
                </table>  
    
            </div>

            <hr>

            <div>
                <label for="ProjectName">
                    Име на задача<span style="color:red">*</span>
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>

            <div>
                <label for="ProjectName">
                    Катеорија<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>Дозволи за градба</option>
                  <option>Железарија</option>
                  <option>Инсталации</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Приоритет<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>Висок</option>
                  <option>Низок</option>
                  <option>Нормален</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Одговорен<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>Одговорен 1</option>
                  <option>Одговорен 2</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Клиент<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>Клиент 1</option>
                  <option>Клиент 2</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Статус<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>Завршен</option>
                  <option>На чекање</option>
                  <option>Се извршува</option>
                </select>
            </div>
        
        <div id="OtherData" >
            <div (click)='OpenOtherData()' class='dropBtn'>
                <span>
                    Дополнителни податоци
                </span>
                <mat-icon
                class="icon-size-5"
                id="ODmatIcon"
                [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
            </div>
            <div id="OtherDataHidden">  
            <div>
                <label for="name">
                    Датум на почеток
                </label>
                <input id="nameInput" type="date" class='form-control'>
            </div>
        
            <div>
                <label for="name">
                    Датум на завршување
                </label>
                <input id="passwordInput" type="date" class='form-control'>
            </div>
    
            <div>
                <label for="name">
                    Времетраење
                </label>
                <input id="nameInput" type="text-box" class='form-control' placeholder="Внеси часови">
            </div>
    
            <div>
                <label for="name">
                    Учесници
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>
    
            <div>
                <label for="name">
                    Предефинирани задачи
                </label>
                <input id="nameInput" type="text-box" class='form-control' placeholder="Избери предефинирани задачи">
            </div>

            <div>
                <label for="ProjectName">
                    Зависи од задача
                </label>
                <select class="form-select">
                  <option>Редизајн</option>
                  <option>Дизајн</option>
                </select>
            </div>
    
            <div>
                <label for="name">
                    Опис
                </label>
                <textarea id="Opis" type="text-box" class='form-control'></textarea>
            </div>
            </div> 
        </div> 

            <div id="ClientData">

                <div (click)='OpenClientData()' class='dropBtn'>
                    <span>Податоци за избраниот клиент</span>
                    <mat-icon
                        id="CDmatIcon"
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                </div>
            
                <div id="ClientDataHidden">
                <div>
                    <label for="ProjectName">
                        Реон
                    </label>
                    <select class="form-select">
                      <option>Реон 1</option>
                      <option>Реон 2</option>
                    </select>
                </div>
    
                <div>
                    <label for="name">
                        Име
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                <div>
                    <label for="name">
                        Адреса
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                <div>
                    <label for="name">
                        Град
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                <div>
                    <label for="name">
                        Телефон
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                </div>
            </div>  
          
          </form>
        
        <hr/>
        <div id='dolni2BtnDiv'>
            <button class="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent" (click)="Close()">Откажи</button>
            <button class="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-warn" (click)="End()">Заврши</button>
        </div>
</div>
