<div id="mainDiv">
        <form>
    
            <div>
                <label for="ProjectName">
                    Име на задача<span style="color:red">*</span>
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>
            <!--
            <div>
                <label for="ProjectName">
                    Катеорија<span style="color:red">*</span>
                </label>
                <select formControlName="country">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Приоритет<span style="color:red">*</span>
                </label>
                <select formControlName="country">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Одговорен<span style="color:red">*</span>
                </label>
                <select formControlName="country">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Клиент<span style="color:red">*</span>
                </label>
                <select formControlName="country">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="ProjectName">
                    Статус<span style="color:red">*</span>
                </label>
                <select formControlName="country">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    -->
            <div>
                <label for="name">
                    Датум на почеток
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>
        
            <div>
                <label for="name">
                    Датум на завршување
                </label>
                <input id="passwordInput" type="text-box" class='form-control'>
            </div>
    
            <div>
                <label for="name">
                    Времетраење
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>
    
            <div>
                <label for="name">
                    Учесници
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>
    
            <div>
                <label for="name">
                    Предефинирани задачи
                </label>
                <input id="nameInput" type="text-box" class='form-control'>
            </div>
            <!--
            <div>
                <label for="ProjectName">
                    Зависи од задача
                </label>
                <select formControlName="country">
                  <option>English</option>
                  <option>Македонски</option>
                </select>
            </div>
    
            <div>
                <label for="name">
                    Опис
                </label>
                <textarea id="nameInput" type="text-box" class='form-control'></textarea>
            </div>
    -->
            <div id="ClientData">
                <h3>Податоци за избраниот клиент</h3><button>\/</button>
                <div id="ClientDataDrop">
                <div>
                    <label for="ProjectName">
                        Реон
                    </label>
                    <select formControlName="country">
                      <option>English</option>
                      <option>Македонски</option>
                    </select>
                </div>
    
                <div>
                    <label for="name">
                        Име
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                <div>
                    <label for="name">
                        Адреса
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                <div>
                    <label for="name">
                        Град
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                <div>
                    <label for="name">
                        Телефон
                    </label>
                    <input id="nameInput" type="text-box" class='form-control'>
                </div>
    
                </div>
            </div>
        
            <button class="button" type="submit">Избери слика</button>
            <button class="button" type="submit">Прикачи слика</button>
            <button class="button" type="submit">Прегледај слики</button>
            <button class="button" type="submit">Коментари</button>
            <button class="button" type="submit">Работа</button>
            <button class="button" type="submit">Прикачи фајл</button>
            <button routerLink="/UserHome" class="button" class="btn btn-outline-danger" (click)="End">Заврши</button>
            <button class="button" class="btn btn-outline-success" (click)="Close">Откажи</button>
          
          </form>
</div>

