div{
    margin-top:10px;
    
}
label{
    margin-bottom:3px;
}
button{
    margin:5px;

}

h5, h3{
    margin:20px;
    text-align:center;
}

.gorni6btn{
    font-size:10px;
    margin-left:0px;
    margin-right:0px;
    width:100px;
}

table{
    margin-left:0px;
}

.gorni6btnDiv{
    margin-left:0px;
}
