div{
    margin-top:10px;
    
}
label{
    margin-bottom:3px;
}
button{
    margin:5px;

}

h3{
    margin-bottom:20px;
    text-align:center;
}

.gorni6btn{
    font-size:12px;
    margin-left:0px;
    margin-right:0px;
    width:120px;
}

table{
    width:100%;
    align-items: center;
    margin-top:10px;
}

td{
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}

.gorni6btnDiv{
    text-align: center;
    align-items: center;
    
}

#dolni2BtnDiv > button{
    float: right;
}

td{
    text-align: center;
    align-items: center;
}

#Opis{
    height:100px;
}

#OtherData{
    background-color: rgb(136, 136, 226);
    padding: 10px;
    margin-left:-10px;
    margin-right:-10px;
    border-radius: 5px;
    margin-top:15px;
}

#ClientData{
    background-color: rgb(231, 155, 104);
    padding: 10px;
    margin-left:-10px;
    margin-right:-10px;
    border-radius: 5px;
 
}

#OtherDataHidden{
    display:none;
}

#ClientDataHidden{
    display:none;
}

.dropBtn{
    text-align: center;
    height:40px;
}

span{
    font-size:14px;
    text-align: center;
    margin-bottom:10px;
}

#ODmatIcon, #CDmatIcon{
    position:relative;
    top:6px;
    color:rgb(53, 45, 45);
}

.KopceZaGasenje{
    text-align: right;
    vertical-align: top;
    height: 10px;
    margin: 0px;
    position:relative;
    top:-25px;
    right:-25px;
}