div{
    margin-top:10px;
    
}
label{
    margin-bottom:3px;
}
button{
    margin:5px;

}

h5, h3{
    margin:20px;
    text-align:center;
}

.gorni6btn{
    font-size:12px;
    margin-left:0px;
    margin-right:0px;
    width:120px;
}

table{
    width:100%;
    align-items: center;
    margin-top:10px;
}

td{
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}

.gorni6btnDiv{
    text-align: center;
    align-items: center;
    
}

#dolni2BtnDiv > button{
    float: right;
}

td{
    text-align: center;
    align-items: center;
}

#Opis{
    height:100px;
}

#OtherData{
    background-color: rgb(136, 136, 226);
    padding: 7px;
    margin-left:-7px;
    margin-right:-7px;
    border-radius: 5px;
    margin-top:15px;
}

#ClientData{
    background-color: rgb(231, 155, 104);
    padding: 7px;
    margin-left:-7px;
    margin-right:-7px;
    border-radius: 5px;
    margin-top:15px;
}