.full-width-table {
  width: 100%;
}
.data-table{
  width: 100%;
  margin:10px auto;
  margin-top:50px;
  box-shadow: 0px 32px 64px 0px rgba(0,0,0,0.2);
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right:5px;
}

#greenDot{
  background-color:green;
}
/*trgnato da ne se fixed kopcinata poubo e da ne se */

mat-paginator{/* sega e reseno za dolnot del od tabelata toa sto neli pri svajp se gubi (i raboti i vertikalno)*/
  position: absolute;
  width:100%;
}

.KopcinaLeft{/* so ovie dolnive cetiri se praat kopcianta da bidat kaj sto treba (od button samo heighti left go menvas soodvetno drugite ne igraat uloga) */
  margin-bottom:30px;
}

#gorno{
  margin-bottom:4px;
}

#dolno{/* neka stoj ova ako */
}

button{
  height:26px;
  width:70px;
  text-align:center;
  position:absolute;
  left:0px;/* za ova treba da se razmisli kolku da bidi dali skros levo ili podesno */
}