<script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.22/angular.js" data-semver="1.2.22"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<div class="mat-elevation-z8 data-table" id="data-table">
  <div class="GlavnaKlasaFiltriZaPrebaruvanje">
    <div id="FiltriPrebaruvanje" >
      <div (click)='OtvoriFiltri()' class='dropBtn'>
          <span>
              ФИЛТРИ ЗА ПРЕБАРУВАЊЕ
          </span>
          <mat-icon
          class="icon-size-5"
          id="ODmatIcon"
          [svgIcon]="'heroicons_solid:chevron-down'" style="color:white"></mat-icon>
      </div>
      <div id="SkrieniKopcina">
        <label class=" FilterTextBox mb-1">
          <input ng-model="search" placeholder="Клиент" class="input-sm form-control ng-pristine ng-valid ng-empty ng-touched" type="search" />
        </label>  
        <label class="FilterTextBox mb-1">
          <input placeholder="Име на проект" class="input-sm form-control ng-pristine ng-valid ng-empty ng-touched" type="search" />
        </label>  
        <label class="FilterTextBox mb-1">
          <input placeholder="Категорија" class="input-sm form-control ng-pristine ng-valid ng-empty ng-touched" type="search" />
        </label>  
        <!--po status -->
        <select onchange="Status()" id="SelektiranjeStatus" class="form-select" aria-label="Default select example">
          <option value="0">По Статус</option>
          <option value="1" onclick="StatusZavrsen(Status)">Завршен</option>
          <option value="2">Во чекање</option>
          <option value="3">Се извршува</option>
        </select>
      </div>
  </div>
  <div class="SelectActivProjects">
  <p id="SelektirajproektTekst">Активни проекти: </p><select id="SelektirajProekt" class="form-select" aria-label="Default select example">
    <option value="0">Одбери...</option>
    <option value="1">Овде треба да ги вчита активните проекти</option>
  </select>   
  </div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Опции</th>
      <td mat-cell *matCellDef="let row">
        <div class="KopcinaLeft" >
          <div id="gorno">
            <button (click)="View(row.ID)" (click)='kopcina()' class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-300 dark:text-blue-50 dark:bg-blue-500 ng-star-inserted"><span style="font-size:11px">Преглед</span></button><br>
          </div>
          <div id="dolno">
            <button *ngIf='row.Status==seIzvrsuva' (click)="Kraj(row.ID,$event)" class="py-0.5 px-3 rounded-full text-sm font-semibold text-pink-800 bg-pink-300 dark:text-pink-50 dark:bg-pink-500 ng-star-inserted kopce">Крај</button>
            <button *ngIf='row.Status==naCekanje' class="py-0.5 px-3 rounded-full text-sm font-semibold text-gray-800 bg-gray-300 dark:text-gray-50 dark:bg-gray-500 ng-star-inserted kopce"></button>
          </div>
          <br>
          <div id="zapocni">
            <button *ngIf='row.Status==naCekanje' (click)="ZapocniProekt(row.ID,$event)" class="font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50">Започни</button>
            <button *ngIf='row.Status==seIzvrsuva' class="font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-gray-200 text-gray-800 dark:bg-gray-600 dark:text-gray-50"></button>
          </div>
        </div>
      </td>
      
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Клиент</th>
      <td mat-cell *matCellDef="let row" ng-repeat="row in data-table | filter : search" >{{row.Client}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Име на проект</th>
      <td mat-cell *matCellDef="let row">{{row.ProjectName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Име на задача</th>
      <td mat-cell *matCellDef="let row">{{row.TaskName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Почнува">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Почнува</th>
      <td mat-cell *matCellDef="let row">{{row.Starts}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Завршува">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Завршува</th>
      <td mat-cell *matCellDef="let row">{{row.Ends}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Категории">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Категории</th>
      <td mat-cell *matCellDef="let row">{{row.Categories}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="true" class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50">{{row.Status}}</span>
        <!--<span *ngIf="row.Ends==28-09-2021" class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase bg-yellow-200 text-yellow-800 dark:bg-yellow-600 dark:text-yellow-50">{{row.Status}}</span>
        <span *ngIf="row.Ends<28-09-2021" class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase bg-red-400 text-red-800 dark:bg-red-600 dark:text-red-50">{{row.Status}}</span>-->
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Приоритет">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
      <td mat-cell *matCellDef="let row">{{row.Priority}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
