.full-width-table {
  width: 100%;
}
.data-table{
  width: 100%;
  margin:10px auto;
  margin-top:7px;/* ova tie za rastojanie pomegju status i tabela gore */
  box-shadow: 0px 32px 64px 0px rgba(0,0,0,0.2);
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right:5px;
}

#greenDot{
  background-color:green;
}
/*trgnato da ne se fixed kopcinata poubo e da ne se */

mat-paginator{/* sega e reseno za dolnot del od tabelata toa sto neli pri svajp se gubi (i raboti i vertikalno)*/
  position: absolute;
  width:100%;
}

.KopcinaLeft{/* so ovie dolnive cetiri se praat kopcianta da bidat kaj sto treba (od button samo heighti left go menvas soodvetno drugite ne igraat uloga) */
  margin-bottom:30px;
  width:70px
}

#gorno{
  margin-bottom:7px;
  visibility: visible;
}

#dolno{
  margin-bottom:14px;
  visibility: visible;
}
#zapocni{
  visibility: visible;
}


button{
  height:28px;
  width:80px;
  text-align:center;
  position:absolute;
  left:0px;/* za ova treba da se razmisli kolku da bidi dali skros levo ili podesno */
}
/*Still za filtrite za prebaruvanje*/
#FiltriPrebaruvanje{
  background-color: #1E293B;
  color:#fff;
  padding: 10px;
  font-family: "Inter var", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 5px;
}
#SkrieniKopcina{
  display:none;
  text-align: center;
}
.GlavnaKlasaFiltriZaPrebaruvanje{
  margin:5px;
}
.FilterTextBox {
  margin-top: 5px;
  margin-right: 10px;
  width: 155px;
}

.TextBoxBt {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

#SelektiranjeStatus{
  display: inline;
  width: 155px;
  margin-top: 5px;
  margin-right: 10px;
}

#ODmatIcon{
  position: relative;
  top:4.2px;
  margin-bottom: 8px;
}

.dropBtn{
  margin-left:7px;
}

td.mat-cell{
  padding-left:10px;
  padding-right:10px;
}

th.mat-header-cell{
  padding-left:10px;
}