<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Опции</th>
      <td mat-cell *matCellDef="let row">
        <div class="KopcinaLeft">
          <div id="gorno">
            <button (click)='kopcina()' class="btn-info kopce">Поглед</button><br>
          </div>
          <div id="dolno">
            <button class="btn-dark kopce">Крај</button>
          </div>
        </div>
      </td>
      
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Клиент</th>
      <td mat-cell *matCellDef="let row">{{row.Client}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Име на проект</th>
      <td mat-cell *matCellDef="let row">{{row.ProjectName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Име на задача</th>
      <td mat-cell *matCellDef="let row">{{row.TaskName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Почнува">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Почнува</th>
      <td mat-cell *matCellDef="let row">{{row.Starts}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Завршува">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Завршува</th>
      <td mat-cell *matCellDef="let row">{{row.Ends}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Категории">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Категории</th>
      <td mat-cell *matCellDef="let row">{{row.Categories}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Статус">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
      <td mat-cell *matCellDef="let row"><span class="dot" id="greenDot"></span>{{row.Status}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Приоритет">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
      <td mat-cell *matCellDef="let row">{{row.Priority}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
