
#KreiranZadacaBtn{
    position:absolute;/* sega e reseno istiot problem so leviot swipe i za kopceto (raboti sega i vertikalo)*/
    top:15px;
    left:15px;
}

.flex{/* ova go resava problemot so tabelata i menito, flex ti e divot osnoven */
    overflow-x:auto;
}
#zelenoKopce{
    background-color: #73ffa4;
}
#zoltoKopce{
    background-color: #f3ff73;
}
#crvenoKopce{
    background-color: #ff8181;
}
.MozenStatus{
height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right:5px;
      
}
.SortiranjeDesno{
    position: absolute;
    text-align: right;
    margin: 0px;
    margin-left: 5px;
}
.StatusBtn{
    margin-top: 50px; /* ova tie za rastojanie pomegju status i kreiraj zadaca kopce gore */
    margin-left: 10px;/* nekase i malce podesno */
}

.FilterZaPrebaruvanje{
  margin-right: 5px;
}