<div class="flex flex-col flex-auto min-w-0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<div class="GlavnaKlasa">
    <!-- Main -->
    <div class="">
        <button (click)="onCreate()" id="KreiranZadacaBtn" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent">
            <mat-icon  class="icon-size-10" [svgIcon]="'heroicons_outline:plus-circle'" [color]="'primary'" ></mat-icon>
            <span>КРЕИРАЈ ЗАДАЧА</span>
        </button><br>
        
    </div>
    <div class="StatusBtn"><p class="SortiranjeDesno"><span class="MozenStatus" id="zelenoKopce"></span>Е во временска рамка</p><br>
        <p class="SortiranjeDesno"><span class="MozenStatus" id="zoltoKopce"></span>Се приближува до крајот</p><br>
        <p class="SortiranjeDesno"><span class="MozenStatus" id="crvenoKopce"></span>Го надминала крајниот датум</p><br><br>
            
    </div>
    <app-data-table class="Tabela"></app-data-table>
</div>
</div>
