#KreiranZadacaBtn{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.KreiranZadacaBtn-text{
    color:#000;
    text-align: center;
    display:block;
    font-weight: bold;
}

#KreiranZadacaBtn{
    position:absolute;/* sega e reseno istiot problem so leviot swipe i za kopceto (raboti sega i vertikalo)*/
    top:15px;
    left:15px;
}

.flex{/* ova go resava problemot so tabelata i menito, flex ti e divot osnoven */
    overflow-x:auto;
}
#zelenoKopce{
    background-color: green;
}
#zoltoKopce{
    background-color: yellow;
}
#crvenoKopce{
    background-color: red;
}
.MozenStatus{
height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right:5px;
      
}
.SortiranjeDesno{
    position: absolute;
    text-align: right;
    margin: 0px;
    margin-left: 5px;
}
.StatusBtn{
    margin-top: 70px;
    
}