<form>
    <div>
        <h3>Логирано време</h3>
    </div>

    <mat-tab-group>
        <mat-tab label='Внеси'>
            
            <div>
                <label for="">Датум</label>
                <input type="date" class='form-control'>
            </div>
            
            <div>
                <label for="">Време</label>
                <input type="text" class='form-control' placeholder="Внеси часови">
            </div>
            
            <div>
                <label for="">Преостанато време</label>
                <input type="text" class='form-control' placeholder="Внеси часови">
            </div>
        
            <div>
                <label for="name">
                    Опис
                </label>
                <textarea id="Opis" type="text-box" class='form-control'></textarea>
            </div>
        </mat-tab>
        <mat-tab label='Прегледај'>
            <fuse-card
    class="flex flex-col"
    [flippable]="true"
    #fuseCard>
    <!-- Poceten izgled -->
    <ng-container fuseCardFront>
        <div class="flex flex-col px-8 py-6 pb-3">
            <div class="text-lg font-bold">Раде Стевановски</div>
            <div class="mt-2">
                Датум: 
            </div>
            <div class="mt-2">
                Време:
            </div>
            <div class="mt-2">
                Преостанато време: 
            </div>
            <div class="mt-3 -mx-3 self-end">
                <button
                    mat-icon-button
                    (click)="fuseCard.face = 'back'">
                        <mat-icon
                            class="icon-size-5 mat-primary"
                            [svgIcon]="'heroicons_outline:arrow-right'"></mat-icon>
                </button>
            </div>
        </div>
    </ng-container>

    <!-- Od koga ke go otvoris komentarot -->
    <ng-container fuseCardBack>
        <div class="flex flex-col flex-auto px-8 py-6 pt-3">
            <div class="mb-2 -mx-3">
                <button
                    mat-icon-button
                    
                    (click)="fuseCard.face = 'front'">
                    <mat-icon
                        class="icon-size-5 mat-primary"
                        [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                </button>
            </div>
            <p class="text-secondary">
                Опис....
            </p>
        </div>
    </ng-container>
</fuse-card>
        </mat-tab>
    </mat-tab-group>

    <hr/>
    
    <div>
        <button type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent" (click)="Close()">Откажи</button>
        <button type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" (click)="Save()">Зачувај</button>
    </div>
    
    </form>
