<form>
<div>
    <h3>Промена на лозинка</h3>
</div>
<div>
    <label for="">Стара лозинка</label>
    <input type="password" class='form-control' (keyup)=getOldPass($event.target.value)>
</div>

<div>
    <label for="">Нова лозинка</label>
    <input type="password" class='form-control' (keyup)=getNewPass($event.target.value)>
</div>

<div>
    <label for="">Потврда на новата лозинка</label>
    <input type="password" class='form-control' (keyup)=getNewPassRepeat($event.target.value)>
</div>

<hr/>

<div>
    <button type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent" (click)="Close()">Откажи</button>
    <button type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" (click)="SavePass()">Зачувај</button>
</div>

</form>