<form>
<div>
    <h3>Промена на лозинка</h3>
</div>
    
<div>
    <label for="">Стар пасворд</label>
    <input type="text" class='form-control'>
</div>

<div>
    <label for="">Нов пасворд</label>
    <input type="text" class='form-control'>
</div>

<div>
    <label for="">Потврди нов пасворд</label>
    <input type="text" class='form-control'>
</div>

<div>
    <button type="button" class="btn btn-outline-danger" (click)="Close()">Откажи</button>
    <button type="button" class="btn btn-outline-success" (click)="SavePass()">Зачувај</button>
</div>

</form>
