.menu{
    text-align: center;
    align-items: center;
    background-image: url(../../../../assets/images/pozadina.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.glavno-meni .meni{
    padding-top: 10px;
    background-color:rgba(255, 255, 255, 0.8);
}
#kopcina{
    display: inline-flex;;
    align-items: center;
    margin-bottom: 10px;
    font-size: x-large;
    width: 300px;

}
.kopcina-text{
    color: #4F46E5;
    text-align: center;
    display:block;
}
#ikoni{
    
}