.menu{
    text-align: center;
    align-items: center;
}

.glavno-meni .meni{
    padding-top: 10px;
}
#kopcina{
    display: inline-flex;;
    align-items: center;
    margin-bottom: 10px;
}
.kopcina-text{
    color: #4F46E5;
    text-align: center;
    display:block;
}
#ikoni{
    
}