div{
    margin-top:10px;
}
label{
    margin-bottom:3px;
}
button{
    margin:5px;
}
h3,h5{
    text-align:center;
    margin-bottom:23px;
}

h5{
    font-size:14px;
}

.gorni6btn{
    font-size:12px;
    margin-left:0px;
    margin-right:0px;
    width:120px;
    margin-top:20px;
}