<form>
    <div>
        <h3>Коментари</h3>
    </div>

    <mat-tab-group>
        <mat-tab label='Внеси'>
            <div>
                <label for="ProjectName">
                    Тип на порака<span style="color:red">*</span>
                </label>
                <select class="form-select">
                  <option>Напомена</option>
                  <option>Завршен предмет</option>
                  <option>Материјално влез</option>
                </select>
            </div>
        
            <div>
                <label for="name">
                    Опис
                </label>
                <textarea id="Opis" type="text-box" class='form-control'></textarea>
            </div>
        </mat-tab>
        <mat-tab label='Прегледај'>
<!---->
<fuse-card
    class="flex flex-col"
    [flippable]="true"
    #fuseCard>
    <!-- Poceten izgled -->
    <ng-container fuseCardFront>
        <div class="flex flex-col px-8 py-6 pb-3">
            <div class="text-lg font-bold">Име на коментарот</div>
            <div class="mt-2">
                {{data.TaskInfos[0].UserComment.FullName}}
            </div>
            <div class="text-lg font-bold">Датум</div>
            <div class="mt-2">
                {{data.TaskInfos[0].CreateDate}}
            </div>
            <div class="text-lg font-bold">Тип на порака</div>
            <div class="mt-2">
                {{data.TaskInfos[0].TypeInfo}}
            </div>
            <div class="mt-3 -mx-3 self-end">
                <button
                    mat-icon-button
                    (click)="fuseCard.face = 'back'">
                        <mat-icon
                            class="icon-size-5 mat-primary"
                            [svgIcon]="'heroicons_outline:arrow-right'"></mat-icon>
                </button>
            </div>
        </div>
    </ng-container>

    <!-- Od koga ke go otvoris komentarot -->
    <ng-container fuseCardBack>
        <div class="flex flex-col flex-auto px-8 py-6 pt-3">
            <div class="mb-2 -mx-3">
                <button
                    mat-icon-button
                    
                    (click)="fuseCard.face = 'front'">
                    <mat-icon
                        class="icon-size-5 mat-primary"
                        [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-bold">Коментар</div>
            <p class="text-secondary">
                {{data.TaskInfos[0].Description}}
            </p>
        </div>
    </ng-container>
</fuse-card>
<!---->
        </mat-tab>
    </mat-tab-group>

    <hr/>
    <div id="buttonDiv">
        <button type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent" (click)="Close()">Откажи</button>
        <button type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" (click)="Save()">Зачувај</button>
    </div>

</form>
